<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 <hibernate-configuration>
   <session-factory>
   
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="connection.url">JDBC:mysql://root:david@localhost:3306/Davank</property>
    <property name="connection.username">root</property>
    <property name="connection.password">david</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>

    
    <!-- ? Clases a mapear ? -->
    <mapping class="org.davshaw.Model.pureentities.Account"/>
    <mapping class="org.davshaw.Model.pureentities.Group"/>
    <mapping class="org.davshaw.Model.pureentities.User"/>

    <mapping class="org.davshaw.Model.derivatedentities.AccountDeposit"/>
    <mapping class="org.davshaw.Model.derivatedentities.AccountTransfer"/>
    <mapping class="org.davshaw.Model.derivatedentities.AccountWithdrawal"/>
    <mapping class="org.davshaw.Model.derivatedentities.GroupDeposit"/>
    <mapping class="org.davshaw.Model.derivatedentities.GroupLoan"/>
    <mapping class="org.davshaw.Model.derivatedentities.teamLog"/>


   </session-factory>
 </hibernate-configuration>