<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>David Math :)</title>
</head>

<body>
    <h1>
        Hi, let's make some maths UwU
    </h1>

    <input type="text" placeholder="Primer número" id="primerNumero">
    <br>
    <input type="text" placeholder="Segundo número" id="segundoNumero">
    <br>
    <input type="submit" value="¡Cálcular!" onclick="redireccionar()">
  

  <script>
    function redireccionar()
    {
      // Obtener los valores de los campos de entrada
      var n1 = document.getElementById('primerNumero').value;
      var n2 = document.getElementById('segundoNumero').value;

      // Construir la URL de redirección
      var nuevaURL = "localhost:8000/math/{0}/{12}".format(n1,n2);

      // Redireccionar a la nueva URL
      window.location.href = nuevaURL;
    }
  </script>
</body>

</html>